.vs/
LogicalProgramming/LogicalProgramming/bin
LogicalProgramming/LogicalProgramming/obj
PerfectNumber/PerfectNumber/bin
PerfectNumber/PerfectNumber/obj
PrimeNumber/PrimeNumber/bin
PrimeNumber/PrimeNumber/obj
ReverseANumber/ReverseANumber/bin
ReverseANumber/ReverseANumber/obj